<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
<div class="container">
		<h1>Employee Management System</h1>
		<hr>
		<h2>Update Employee</h2>
		<form th:action="@{/updateEmployee}" th:object="${employee}"
			method="post">
			<input type="hidden" th:field="*{id}">
			<input type="text" th:field="*{firstName}"
				class="form-control mb-4 col-4" placeholder="Enter First Name">
				
				<input type="text" th:field="*{lastName}"
				class="form-control mb-4 col-4" placeholder="Enter Last Name">
				
				<input type="text" th:field="*{email}"
				class="form-control mb-4 col-4" placeholder="Enter Email">
				<button type="submit" class="btn btn-info col-2">Update Employee</button>

		</form>

	</div>

</body>
</html>